html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    padding: 0 0 40px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}
